.popmenu{
	.mc{
		display: none;
		s{
			background: url(../images/category_logo.png) no-repeat;
			width: 18px;
			height: 23px;
			left:10px;
			top: 3px;
			position: absolute;
		}

		.fore1 h3 s{
			background-position:0px 0px;
		}

		.fore2 h3 s{
			background-position:0 -32px;
		}
		.fore3 h3 s{
			background-position:0 -68px;
		}
		.fore4 h3 s{
			background-position:0 -102px;
		}
		.fore5 h3 s{
			background-position:0 -138px;
		}
		.fore6 h3 s{
			background-position:0 -172px;
		}
		.fore7 h3 s{
			background-position:0 -207px;
		}
		.fore8 h3 s{
			background-position:0 -244px;
		}
		.fore9 h3 s{
			background-position:0 -305px;
		}
		.fore10 h3 s{
			background-position:0 -276px;
		}
	}


	//导航三角
	.mt{
		b{
			background-image: url(../images/20130330A_1.png);
			background-repeat: no-repeat;
			position: absolute;
		}
	}


	&.hover .mc{
		display: block;
	}

}